.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

      /* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

aside .search-result li {
  padding: 0.5rem;
  background-color: #367588;
  color: #fdfdfd;
  list-style-type: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

aside .search-result {
  max-height: calc(35vh);
  overflow-y: scroll;
}

#footer {
  padding: 0.2rem;
  background-color: #000;
  color: #fdfdfd;
  text-align: center;
}

#searchbar {
  padding: 10px;
}

#searchQuery {
  margin: 15px;
}

#map {
  height: 100vh;
}

#header {
  text-align:center;
}
